# Ignorar arquivos de cache e temporários
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.env
# Ignorar arquivos de mlruns e mlartifacts

mlruns/
mlartifacts/
figures/
# Ignorar diretório do ambiente virtual 
env/
venv/
# Ignorar dados transformados
data/*
!/data/raw/
!/data/raw/**
# Ignorar dados de Log
logs/
# Ignorar relatório de auditoria local
REPORT_AUDIT.md
