# Ignorar arquivos de cache e temporários
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.env
# Ignorar arquivos de mlruns e mlartifacts
mlruns/
mlartifacts/

# Ignorar diretório do ambiente virtual 
env/
venv/